#define VER_FILEVERSION_MAJOR		3
#define VER_FILEVERSION_MINOR		6
#define VER_FILETYPE			VFT_DLL
#define VER_FILEDESCRIPTION_STR		"Библиотека поддержки ключевых дискет и съёмных дисков CSP/HSM"
#define VER_FILEDESCRIPTION_STR_EN	"CSP/HSM key floppy disks and removable disks support library"
#define VER_INTERNALNAME_STR		"fat12"
#define VER_ORIGINALFILENAME_STR	"fat12.dll"

